<nav class="py-2 navbar bg-primary custom-navbar" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="slrpt logo 2.png" alt="Logo" class="d-inline-block align-text-top me-2">
            <span class="brand-text">Sri Lankan Railway Parcel Transport - ශ්‍රී ලංකා දුම්රිය පාර්සල් ප්‍රවාහන
                දෙපාර්තමේන්තුව</span>
        </a>

        <ul class="nav me-auto justify-content-center flex-grow-1">
            <li class="nav-item"><a href="#" routerLink='/staff-dashboard/add-parcel'
                    class="nav-link link-body-emphasis px-3">Add Parcel</a></li>
            <li class="nav-item"><a href="#" routerLink='/staff-dashboard/parcel-report'
                    class="nav-link link-body-emphasis px-3">Parcel Report</a></li>
            <li class="nav-item"><a href="#" routerLink='/staff-dashboard/parcel-calculator'
                    class="nav-link link-body-emphasis px-3">Calculatore</a></li>
            <li class="nav-item"><a href="#" routerLink='' class="nav-link link-body-emphasis px-3">Account</a></li>
            <li class="nav-item"><a href="#" routerLink='' class="nav-link link-body-emphasis px-3">Contact</a></li>
            <li class="nav-item"><a href="#" routerLink='' class="nav-link link-body-emphasis px-3">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>