<div class="container my-5">
    <div class="bg-body-secondary p-5 rounded">
        <div class="col-sm-8 py-5 mx-auto">
            <h1 class="display-5 fw-normal">Sri Lankan Railway Parcel Transport System</h1>
            <p class="fs-5">The Sri Lankan Railway Parcel Transport System is a cornerstone for both small and medium
                enterprises and individual customers, helping them connect, trade, and thrive across the island.</p>

            <p><a href="https://www.railway.gov.lk/web/">Sri Lanka Railways ( SLR )</a> is a government department
                functioning under the Ministry of Transport. It is
                a major transport service provider and is the only rail transport organization in the country. SLR
                transports both passenger and freight. At its inception, railway was carrying more freight than
                passenger. But today, it is passenger oriented. SLR’s market share for passenger transport is about 6.0
                % and about 0.7 % for goods transport.

                In Sri Lanka, the service provided by SLR in carrying the daily commuters to their workplaces, is
                inevitable. Sri Lanka Railway operates approximately 396 trains which include 67 Long-Distance and 16
                Intercity trains and carries about 3.72 Million passengers daily.

                SLR owns and maintains 1561km of rail tracks, 72 locomotives,power sets 78, 565 carriages and the
                signalling network. At present, it has a workforce of 17,634.

                Sri Lanka Railways ( SLR ) functions under the General Manager of Railways (GMR). The General Manager
                reports to the Secretary of the Ministry of Transport.

                SLR has been divided into ten Sub Departments and three Units. Sub departments are managed by the Heads
                of the Sub Departments who reports directly to the General Manager of Railways.</p>
            <p>
                <a class="btn btn-primary"
                    href="https://www.railway.gov.lk/web/index.php?option=com_content&view=article&id=115&Itemid=160&lang=en"
                    role="button">Learn more about Good & Parcel &raquo;</a>
            </p>
        </div>
    </div>
</div>