<div class="container px-5 py-5 bg-body-secondary my-5">
    <h1 class="pb-2 border-bottom form-control-plaintext">Features of SLRPT</h1>
    <!-- <img src="slrpt logo 1.png" alt="logo"> -->

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h2 class="fw-bold text-body-emphasis">Features of the Railway Parcel Tracking System</h2>
            <p class="text-body-secondary">The Railway Parcel Tracking System is designed to streamline and enhance the
                management of parcels transported through the railway network. This system allows for seamless tracking,
                secure handling, and efficient management of parcels across multiple stations, ensuring that both staff
                and administrators can manage the parcel flow effectively.</p>
        </div>
        <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 rounded-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" fill="currentColor"
                            class="bi bi-suitcase-lg-fill" viewBox="0 0 16 16">
                            <path
                                d="M7 0a2 2 0 0 0-2 2H1.5A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14H2a.5.5 0 0 0 1 0h10a.5.5 0 0 0 1 0h.5a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2H11a2 2 0 0 0-2-2zM6 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1zM3 13V3h1v10zm9 0V3h1v10z" />
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Real-Time Parcel Tracking</h4>
                    <p class="text-body-secondary">Track parcels in real time as they move through various railway
                        stations, with instant updates on the current location and status.</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 rounded-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" fill="currentColor"
                            class="bi bi-train-freight-front" viewBox="0 0 16 16">
                            <path
                                d="M5.065.158A1.5 1.5 0 0 1 5.736 0h4.528a1.5 1.5 0 0 1 .67.158l3.237 1.618a1.5 1.5 0 0 1 .83 1.342V13.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V3.118a1.5 1.5 0 0 1 .828-1.342zM2 9.372V13.5A1.5 1.5 0 0 0 3.5 15h4V8h-.853a.5.5 0 0 0-.144.021zM8.5 15h4a1.5 1.5 0 0 0 1.5-1.5V9.372l-4.503-1.35A.5.5 0 0 0 9.353 8H8.5zM14 8.328v-5.21a.5.5 0 0 0-.276-.447l-3.236-1.618A.5.5 0 0 0 10.264 1H5.736a.5.5 0 0 0-.223.053L2.277 2.67A.5.5 0 0 0 2 3.118v5.21l1-.3V5a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3.028zm-2-.6V5H8.5v2h.853a1.5 1.5 0 0 1 .431.063zM7.5 7V5H4v2.728l2.216-.665A1.5 1.5 0 0 1 6.646 7zm-1-5a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm-3 8a.5.5 0 1 0 0 1 .5.5 0 0 0 0-1m9 0a.5.5 0 1 0 0 1 .5.5 0 0 0 0-1M5 13a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Role-Based Access</h4>
                    <p class="text-body-secondary">Provides separate dashboards for Admins and Staff. Admins can manage
                        users, while Staff can update parcel information and statuses.</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" fill="currentColor"
                            class="bi bi-clipboard-check-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z" />
                            <path
                                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5zm6.854 7.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708" />
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Parcel History and Status Updates</h4>
                    <p class="text-body-secondary">View the complete history of each parcel, including time-stamped
                        status updates at every station it passes through.</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" fill="currentColor"
                            class="bi bi-diagram-3" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5zM8.5 5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5zM0 11.5A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm4.5.5A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Station-Based Parcel Transactions</h4>
                    <p class="text-body-secondary">Manage parcel send and receive transactions at each station, ensuring
                        smooth and secure parcel handling across locations.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="bg-body-secondary p-5 rounded">
        <div class="col-sm-8 py-5 mx-auto">
            <h1 class="display-5 fw-normal">Sri Lankan Railway Parcel Transport System</h1>
            <p class="fs-5">The Sri Lankan Railway Parcel Transport System is a cornerstone for both small and medium
                enterprises and individual customers, helping them connect, trade, and thrive across the island.</p>

            <p><a href="https://www.railway.gov.lk/web/">Sri Lanka Railways ( SLR )</a> is a government department
                functioning under the Ministry of Transport. It is
                a major transport service provider and is the only rail transport organization in the country. SLR
                transports both passenger and freight. At its inception, railway was carrying more freight than
                passenger. But today, it is passenger oriented. SLR’s market share for passenger transport is about 6.0
                % and about 0.7 % for goods transport.

                In Sri Lanka, the service provided by SLR in carrying the daily commuters to their workplaces, is
                inevitable. Sri Lanka Railway operates approximately 396 trains which include 67 Long-Distance and 16
                Intercity trains and carries about 3.72 Million passengers daily.

                SLR owns and maintains 1561km of rail tracks, 72 locomotives,power sets 78, 565 carriages and the
                signalling network. At present, it has a workforce of 17,634.

                Sri Lanka Railways ( SLR ) functions under the General Manager of Railways (GMR). The General Manager
                reports to the Secretary of the Ministry of Transport.

                SLR has been divided into ten Sub Departments and three Units. Sub departments are managed by the Heads
                of the Sub Departments who reports directly to the General Manager of Railways.</p>
            <p>
                <a class="btn btn-primary"
                    href="https://www.railway.gov.lk/web/index.php?option=com_content&view=article&id=115&Itemid=160&lang=en"
                    role="button">Learn more about Good & Parcel &raquo;</a>
            </p>
        </div>
    </div>
</div>
<h1 class="text-bg-primary p-3 text-center">Frequently Asked Questions (FAQs)</h1>
<div class="qustion align-content-center p-lg-5">
    <div class="accordion align-items-center justify-content-center" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    1. What types of items can I send via the railway parcel transport system?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    You can send a variety of items, including packages, documents, equipment, and bulk goods. However,
                    items that are perishable, hazardous, or restricted by law may not be allowed. Always check with
                    your
                    local railway station for specific item restrictions.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                    2. How do I book a parcel transport service?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                    Parcel bookings can be made at designated railway stations. You will need to bring your parcel to
                    the
                    station, where it will be weighed, labeled, and assigned a tracking number.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    3. Is there a size or weight limit for parcels?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    Yes, there are size and weight limits for parcels. These limits may vary depending on the train and
                    available cargo space. It’s recommended to check with the railway station beforehand to confirm the
                    maximum allowable weight and dimensions for your shipment.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    4. Can I track my parcel after booking?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    Yes, Sri Lankan Railways offers tracking services for parcels. Once your parcel is registered and
                    assigned a tracking number, you can use this number to check its status and ensure it reaches its
                    destination on time.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    5. How long does delivery take?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    Delivery times vary based on the destination and train schedules. Generally, deliveries within the
                    same
                    region may be faster, while cross-country deliveries might take longer. It’s best to check the
                    estimated
                    delivery times at the time of booking.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    6. What should I do if my parcel is delayed or lost?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    If there is a delay or if you cannot locate your parcel, contact the railway station where you
                    booked
                    the service. They can assist you with tracking updates or help resolve any issues with your
                    shipment.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    7. What are the payment options for the parcel service?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    Payments can typically be made at the booking counter, either by cash or card. Some stations may
                    also
                    offer online or mobile payment options.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    8. Is the parcel transport service available on weekends and public holidays?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    Service availability may vary by station, but many stations operate on weekends and select public
                    holidays. It’s best to confirm the operating hours with your nearest railway station.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-body-secondary">
    <footer class="py-5">
        <div class="row">

            <div class="col-6 col-md-4 mb-5 align-items-center">
                <h5 class="text-center">Section</h5>
                <ul class="nav flex-column align-content-center">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-6">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>&copy; Copyright 2024 Sri Lankan Railway Parcel Transport, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-twitter fs-5"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-instagram fs-5"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-facebook fs-5"></i></a></li>
            </ul>
        </div>
    </footer>
</div>