.custom-navbar .navbar-brand img {
  width: 120px;
  height: auto;
}

@media (min-width: 768px) {
  .custom-navbar .navbar-brand img {
    width: 150px;
  }
}

.carousel-caption h1 {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .carousel-caption h1 {
    font-size: 2.5rem;
  }
}

.carousel-inner img {
  filter: brightness(50%);
  height: 600px;
  object-fit: cover;
}