<div class="py-5 text-center">
    <h2>Parcel Entry Form</h2>
</div>

<div class="container align-items-center">
    <div class="row">
        <div class="col">
            <div class="form">
                <div class="sender">
                    <h4 class="mb-3">Sender Info</h4>
                    <form class="needs-validation" novalidate>
                        <div class="row g-3">
                            <div class="col-12">
                                <label for="senderName" class="form-label">Sender Name</label>
                                <input type="text" class="form-control" id="senderName" placeholder="R.D Saman Kumara"
                                    [(ngModel)]="parcel.senderName" required>
                                <div class="invalid-feedback">
                                    Valid sender name is required.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="senderPhoneNumber" class="form-label">Phone Number</label>
                                <input type="text" class="form-control" id="senderPhoneNumber"
                                    placeholder="Phone number" [(ngModel)]="parcel.senderPhoneNumber" required>
                                <div class="invalid-feedback">
                                    Your phone number is required.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="senderGmail" class="form-label">Email <span
                                        class="text-body-secondary">(Optional)</span></label>
                                <input type="email" class="form-control" id="senderGmail" placeholder="you@example.com"
                                    [(ngModel)]="parcel.senderGmail">
                                <div class="invalid-feedback">
                                    Please enter a valid email address for shipping updates.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="senderAddress" class="form-label">Address</label>
                                <input type="text" class="form-control" id="senderAddress" placeholder="1234 Main St"
                                    [(ngModel)]="parcel.senderAddress" required>
                                <div class="invalid-feedback">
                                    Please enter your address.
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Receiver Info Section -->
        <div class="col">
            <div class="form">
                <div class="receiver">
                    <h4 class="mb-3">Receiver Info</h4>
                    <form class="needs-validation" novalidate>
                        <div class="row g-3">
                            <div class="col-12">
                                <label for="receiverName" class="form-label">Receiver Name</label>
                                <input type="text" class="form-control" id="receiverName"
                                    placeholder="A.A Wikum Sanjaya" [(ngModel)]="parcel.receiverName" required>
                                <div class="invalid-feedback">
                                    Valid receiver name is required.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="receiverPhoneNumber" class="form-label">Phone Number</label>
                                <input type="text" class="form-control" id="receiverPhoneNumber"
                                    placeholder="Phone number" [(ngModel)]="parcel.receiverPhoneNumber" required>
                                <div class="invalid-feedback">
                                    Your phone number is required.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="receiverGmail" class="form-label">Email <span
                                        class="text-body-secondary">(Optional)</span></label>
                                <input type="email" class="form-control" id="receiverGmail"
                                    placeholder="you@example.com" [(ngModel)]="parcel.receiverGmail">
                                <div class="invalid-feedback">
                                    Please enter a valid email address for shipping updates.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="receiverAddress" class="form-label">Address</label>
                                <input type="text" class="form-control" id="receiverAddress" placeholder="1234 Main St"
                                    [(ngModel)]="parcel.receiverAddress" required>
                                <div class="invalid-feedback">
                                    Please enter the receiver's address.
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <hr class="my-4">

        <!-- Parcel Info Section -->
        <div class="form">
            <div class="parcel-info">
                <h4 class="mb-3">Parcel Info</h4>
                <form class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="weight" class="form-label">Weight</label>
                            <input type="text" class="form-control" id="weight" placeholder="Enter weight"
                                [(ngModel)]="parcel.weight" required>
                            <div class="invalid-feedback">
                                Parcel weight is required.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" [(ngModel)]="parcel.description" rows="3"
                                required></textarea>
                            <div class="invalid-feedback">
                                Please provide a description.
                            </div>
                        </div>

                        <div class="col-md-5">
                            <label for="originStation" class="form-label">Origin Station</label>
                            <select class="form-select" id="originStation" [(ngModel)]="parcel.originStation" required>
                                <option value="">Choose...</option>
                                <option *ngFor="let station of stations" [value]="station">{{ station }}</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid origin station.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="destinationStation" class="form-label">Destination Station</label>
                            <select class="form-select" id="destinationStation" [(ngModel)]="parcel.destinationStation"
                                required>
                                <option value="">Choose...</option>
                                <option *ngFor="let station of stations" [value]="station">{{ station }}</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid destination station.
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">

                    <!-- Payment Section -->
                    <h4 class="mb-3">Payment</h4>
                    <div class="row gy-3">
                        <div class="col-md-6">
                            <label for="payment" class="form-label">Payment</label>
                            <input type="text" class="form-control" id="payment" placeholder="Rs"
                                [(ngModel)]="parcel.payment" required>
                            <div class="invalid-feedback">
                                Payment is required.
                            </div>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>

    <button class="w-100 btn btn-primary btn-lg m-lg-5" type="button" (click)="addParcel()">Parcel Place</button>
</div>